* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-color: #ece9e9;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;

}


{
    margin: 10px 0;
    margin-left: 10px;
}

header .site-title
{
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(255, 255, 255);
}
.button
{
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff; 
    color: #000000;
    border-radius: 5px;
    text-align: center; 
    margin: 5px;
    text-decoration: none; 
}

.main-container
{
    width: 90%;
    max-width: 1200px;
    background-color: #ece9e9;
    padding: 20px;
    box-sizing: border-box;
    margin: 10% auto;
    border-radius: 5px;
}

.button-section
{
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0; 
    color: #2f2e2e;
    border-radius: 5px;
    text-align: center; 
    margin: 5px;
    text-decoration: none;
}

.task-container
{
    margin-top: 30px;
    font-size: 20px;
}

.button-2 
{
    display: inline-block;
    padding: 5px 10px;
    background-color: #919191; 
    color: #000000;
    border-radius: 5px;
    text-align: center; 
    margin: 5px;
    text-decoration: none;

}

.button-3
{
    display: inline-block;
    padding: 5px 10px;
    background-color: #30c28c; 
    color: #000000;
    border-radius: 5px;
    text-align: center; 
    margin: 5px;
    text-decoration: none;
}

.button-4
{
display: inline-block;
padding: 5px 10px;
background-color: #d79912; 
color: #000000;
border-radius: 5px;
text-align: center; 
margin: 5px;
text-decoration: none;
}

.button-5

{display: inline-block;
    padding: 5px 10px;
    background-color: #d712a2; 
    color: #000000;
    border-radius: 5px;
    text-align: center; 
    margin: 5px;
    text-decoration: none;
}

.button-6

{display: inline-block;
    padding: 5px 10px;
    background-color: #00fa4f; 
    color: #000000;
    border-radius: 5px;
    text-align: center; 
    margin: 5px;
    text-decoration: none;
}

body
{
    background-color: #f4f4f4